/* utility class */

/* .container { */
    /* max-width: 600px; */
    /* border: 1px solid red; */
    /* padding: 20px; */
  /* } */
  

  .header {
    width: 100%;
  }

  .header__container {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    margin: 0 auto;
    border-bottom: 1px solid #f9f9f9;
    padding: 20px;
  }


  .header__logo {
    object-fit: contain;
    height: 40px;
  } 

